main {
  display: flex;
  position: relative;
  flex-direction: column;

  .search {
    width: 100%;
    text-align: center;
    position: relative;
    height: 350px;

    &__title {
     margin: 1.5rem 0 1.5rem 0;
    }

    &__form {
      display: flex;
      margin: auto;
      overflow: hidden;
      flex-flow: row nowrap;
      align-items: stretch;
      justify-content: center;

      label[for=Search] {
        display: none;
      }
    }

    &__input {
      padding: 1rem;
      width: 50%;
      min-width: 30%;
      border: none;
      border-radius: 10px 0 0 10px;
    }

    &__button {
      flex: 0 0 5%;
      border: none;
      background-color: $very-dark-grey;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      @media (max-width: 1440px) {
        flex: 0 0 10%;
      }
    }
  }
}


.datazone {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  margin: auto;
  position: relative;
  padding: 0.75rem;
  background-color: $white;
  border-radius: 30px;
  margin: auto;
  margin-top: 30px;
  width: 75%;
  max-width: 90vw;
  z-index: 999;
  @media (min-width: 1440px) {
    flex-flow: row nowrap;
  }


  &__item {
    flex: 0 1 25%;
    padding: 3.5rem;
    text-align: left;
    border-right: 2px solid $dark-grey;
    @media (max-width: 1440px) {
      border: none;
      padding: none;
      flex: 0 1 5%;
    }
  }
  &__item:last-child {
    border: none;
  }
};


.map {
  height: 800px;
  width: 100%;
  position: relative;
  max-width: 100%;
}