p, aside, em, strong, b, dt, dd, dl, div {
  font-size: $font-size-default;
}

.search__title {
  font-family: 'Rubik', sans-serif;
  font-size: $font-size-medium;
  color: $white;
  font-weight: 700;
}

.search__input {
  font-size: 18px;
}

.datazone__title {
  font-size: $font-size-default;
  font-weight: $font-weight-3;
  color: $dark-grey;
}

.datazone__value {
  font-size: 24px;
  color: $very-dark-grey;
  font-weight: 500;
}
